@charset "UTF-8";

* {
    margin:0;
    padding:0;
    border: none;
    color: #ffffff;
    font-family:"notoserifcjktc","Hiragino Sans GB",-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

body{
    color: #ffffff;
    background: #2a2a2a url("./bg.png") 0 0 repeat;
}

.main{
    width: 100%;
    height: 100%;
    padding: 2em;
}

.title{
    color: #ffffff;
    font-size: small;
}

h1{
    color: #c9c9c9;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0.5em;
}

a{
    color: #fc7777;
}

a:hover{
    color: #dd6060;
    text-decoration: underline;
}

hr{
    border: 0; 
    height: 1px;
    background-image: -webkit-linear-gradient(left, #2a2a2a, #9e3333, #2a2a2a);
    background-image: -moz-linear-gradient(left, #2a2a2a, #9e3333, #2a2a2a);
    background-image: -ms-linear-gradient(left, #2a2a2a, #9e3333, #2a2a2a);
    background-image: -o-linear-gradient(left, #2a2a2a, #9e3333, #2a2a2a); 
}

.column{
    border-radius: 0.5em;
    background: #2e2e2e;
    margin: 1em;
}