/*
	style for nodewee.me
*/
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea,div,span{
	margin:0;
	padding:0;
}body{
	font: normal 100% Helvetica, Arial, sans-serif, "Microsoft YaHei";
	display:block;
	cursor:default;
	width:100%;
	color:#444;
	-webkit-font-smoothing:antialiased;
}
}h1,h2,h3{
	font-weight:500;
	text-shadow:0 1px 0 #EEE;
}a{
	color:#449;
	text-decoration:none;
}a:hover{
	color:#F60;
}img{
	border:0;
	width:auto;
	height:auto;
}ol,ul,li{
	list-style:none;
}

header{
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

header img{
    width: 10%; 
    max-width: 100px;
    min-width: 50px;
    height: auto;
    margin: 0 auto;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow:0px 0px 5px black;
	-moz-box-shadow:0px 0px 5px black;
}

footer{
	clear:both;
	padding: 10px;
	text-align: center;
	border-top: dotted 1px #ccc;
	font-size: 12px;
}

div{
	text-align: center;
	margin: 0 auto;
}

.text-shadow{
	text-shadow:#ccc 0px 0px 4px;
}

div.btnBig{
	clear:both;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
}
div.btnBig a{
	text-align: center;
	vertical-align: middle;
	padding: 9px;
	margin:0;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 0px 2px #99f;
	-moz-box-shadow:0px 0px 2px #99f;
}

div.btnSmall{
	clear: both;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
	color:#333;
	font-size: 1em;
}
div.btnSmall a{
	text-align: center;
	padding: 10px;
	margin: 0;
	color: #333;
	font-size: 0.85em;
}


div.blue a{background-color: #bbf;}
div.yellow a{background-color: #bfb;}
div.black a{background-color: #444; color:#fff;}
div a.blue {background-color: #bbf;}
div a.yellow{background-color: #bfb;}
div a.black{background-color: #444; color:#fff;}
div.blue a:hover, div a.blue:hover{background-color:#88f;}
div.yellow a:hover, div a.yellow:hover{background-color:#ac7;}
div.black a:hover, div a.black:hover{background-color:#000;}


div#flinks{clear:both; padding: 5px; margin: 0; text-align: center;}
div#flinks a{
	background-color: #ccf;
	padding: 2px 5px 2px 5px;
}

.gray, .gray a{
	color:#999;
}
.gray a:hover{
	color:#F60;
}