/*
	style for nodewee.me
*/
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea,div,span{
	margin:0;
	padding:0;
}body{
	font-family: Microsoft YaHei,Tahoma,Arial;
	background:url(images/bg.png) #eceef0;
	display:block;
	cursor:default;
	color:#444;
	-webkit-font-smoothing:antialiased;
}
}h1,h2,h3{
	font-weight:500;
	text-shadow:0 1px 0 #EEE;
}a{
	color:#449;
	text-decoration:none;
}a:hover{
	color:#F60;
}img{
	border:0;
	width:auto;
	height:auto;
}ol,ul,li{
	list-style:none;
}

header{
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

header img{
    width: 100px; height: 100px;
    margin: 0 auto;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow:0px 0px 5px black;
	-moz-box-shadow:0px 0px 5px black;
}

footer{
	clear:both;
	padding: 10px;
	text-align: center;
	border-top: dotted 1px #ccc;
	font-size: 12px;
}

div{
	text-align: center;
	margin: 0 auto;
}

div.btnBig{
	clear:both;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
}
div.btnBig a{
	text-align: center;
	vertical-align: middle;
	padding: 9px;
	margin:0;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:0px 0px 2px #99f;
	-moz-box-shadow:0px 0px 2px #99f;
}

div.btnSmall{
	clear: both;
	display: block;
	text-align: center;
	padding: 10px;
	margin: 0;
	color:#333;
}
div.btnSmall a{
	text-align: center;
	padding: 5px;
	margin: 0;
	color: #333;
}


div.blue a{background-color: #99f;}
div.yellow a{background-color: #bb9;}
div a.blue {background-color: #99f;}
div a.yellow{background-color: #bb9;}
div.blue a:hover, div a.blue:hover{background-color:#55f;}
div.yellow a:hover, div a.yellow:hover{background-color:#bb3;}

div.f12, div a.f12, div a.f12:hover{font-size: 12px;}
div.f14, div a.f14, div a.f14:hover{font-size: 14px;}
div.f16, div a.f16, div a.f16:hover{font-size: 16px;}
div.f18, div a.f18, div a.f18:hover{font-size: 18px;}
div.f20, div a.f20, div a.f20:hover{font-size: 20px;}


div.btnBig a span.name{
	color: #fff;
	padding: 2px;
	font-size: 1em;
}
div.btnBig a span.desc{
	color:#ddd;
	padding: 2px;
	font-size: 0.5em;
}


div#flinks{clear:both; padding: 5px; margin: 0; text-align: center;}
div#flinks a{
	background-color: #ccf;
	padding: 2px 5px 2px 5px;
}

.gray, .gray a{
	color:#999;
}
.gray a:hover{
	color:#F60;
}