/*
	style for nodewee.me
*/
body,h1,h2,h3,p,blockquote,dl,dt,dd,ul,ol,li,button,input,textarea,div,span{
	margin:0;
	padding:0;
}body{
	font: normal 100% Helvetica, Arial, sans-serif, "Microsoft YaHei";
	display:block;
	cursor:default;
	width:100%;
	color:#444;
	background-color: #9CCDD9;
	-webkit-font-smoothing:antialiased;
}
}h1,h2,h3{
	font-weight:500;
	text-shadow:0 1px 0 #EEE;
}a{
	color:#449;
	text-decoration:none;
}a:hover{
	color:#F60;
}img{
	border:0;
	width:auto;
	height:auto;
}ol,ul,li{
	list-style:none;
}

header{
	text-align: center;
	padding: 10px;
	font-weight: bold;
}

header img{
    width: 10%; 
    max-width: 100px;
    min-width: 50px;
    height: auto;
    margin: 0 auto;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow:0px 0px 5px black;
	-moz-box-shadow:0px 0px 5px black;
}

footer{
	clear:both;
	padding: 10px;
	text-align: center;
	border-top: dotted 1px #ccc;
	font-size: 12px;
}

div{
	text-align: center;
	margin: 0 auto;
}

.text-shadow{
	text-shadow:#ccc 0px 0px 4px;
}



div.card{
	width:600px;
	height:350px;
	margin-top:20px;
	margin-bottom: 20px;
}
div.card, div.card div{
	color: #1A1A1A;
	text-align: left;
	font-size: 12px;
}

div.card a{
	text-align: left;
	color:#00a; 
	font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei", SimSun, sans-serif;
}
div.card a:hover{color:#a00;}


div.incard-text{
	margin-left:30px;
	margin-bottom:10px;
}
div.incard-text a{
	text-align: left;
	padding: 2px 5px 2px 5px;
}

div#card01{
	background: no-repeat url(https://iy9kkw.by3301.livefilestore.com/y2pZ1qgMKGDtuZ6N77r9iN7R_q1mAhV1hGxp-NJQuIPuKag4QdpRDOdbDN0wakWvNhDXqqSB3NgsVdwy7OhdlyaNDozU7uBtqg_C7prfijJ2vQ/nc-01.png?psid=1);
}
div#card02{
	background: no-repeat url(https://iy9kkw.bay.livefilestore.com/y2pxRenTMj0htyd6wQ7Jk1JGJrO9AsaLrf7ncoIWiRVgR_em0LpRzG3UaRGv_zzTK92NjPkfyVzvq4yetsOduPpvoCGAvUwewDAD46H3BJlbQc/nc-02.png?psid=1);
}
div#card03{
	background: no-repeat url(https://iy9kkw.bay.livefilestore.com/y2pyjzydiYez2h1BDyhk9V7dM_iBLwAKlJpkRlKhnpBXtxas7Oi4XdLJdgz5co3J3mnOKujaWpZsa_xwzaaGZsLeExXrGECzZ_0pDMfqIysZss/nc-03.png?psid=1);
}
div#card04{
	background: no-repeat url(https://iy9kkw.by3302.livefilestore.com/y2pIV5uz80HpZQNSzAiMJGA4Zhartgk5riLmp_TFGPxlNS3X82NTOaOr8kjUQmM2VunIn9n8nSquAxRPIfW86_X87IhDbKI_wrXnqsiHteqvPA/nc-04.png?psid=1);
}




div.blue a{background-color: #bbf;}
div.yellow a{background-color: #bfb;}
div.black a{background-color: #444; color:#fff;}
div a.blue {background-color: #bbf;}
div a.yellow{background-color: #bfb;}
div a.black{background-color: #444; color:#fff;}
div.blue a:hover, div a.blue:hover{background-color:#88f;}
div.yellow a:hover, div a.yellow:hover{background-color:#ac7;}
div.black a:hover, div a.black:hover{background-color:#000;}


div#flinks{clear:both; padding: 5px; margin: 0; text-align: center;}
div#flinks a{
	background-color: #ccf;
	padding: 2px 5px 2px 5px;
}

.gray, .gray a{
	color:#999;
}
.gray a:hover{
	color:#F60;
}