{% include pagehead.html %}
{% include header.html %}
<article>
	<div class="content">{{ content }}</div>
	<div class="post-list">
		{% if site.categories.[page.subject].size > 0 %}
			<p>共{{site.categories.[page.subject].size}}篇:</p>
			<ul class="posts">
			{% assign posts = site.categories.[page.subject] %}
			{% for p in posts %}
				<li> - {{p.date | date: "%Y-%m-%d"}} <a href="{{p.url}}">{{ p.title }}</a></li>
			{% endfor %}
			</ul>
		{% else %}
			<p>(没有文章)</p>
		{% endif %}
	</div>
</article>
{% include footer.html %}