{% include pagehead.html %}
{% include header.html %}
<article>
	<div class="content"><center>{{ content }}</center></div>

	<p><strong>主题</strong></p>
	<ul>
	{% for item in site.subject %}
		<li><a href="/subjects/{{item}}">{{site.[item]}}</a> ({{site.categories.[item].size}})</li>
	{% endfor %}
	</ul>

	<p><strong>书单</strong></p>
	<ul>
	{% for item in site.books %}
		<li><a href="/books/{{item}}">{{site.[item]}}</a> ({{site.categories.[item].size}})</li>
	{% endfor %}
	</ul>
		
</article>
{% include footer.html %}