<header>
<nav>
	<ul>
	{% if page.subject == "home" %}
	<li class="active"><a href="/">首页</a></li>
	{% else %}
	<li><a href="/">首页</a></li>
	{% endif %}

	<li><a href="#">主题</a>
		<ul>
		{% for item in site.subject %}
			<li><a href="/subjects/{{item}}">{{site.[item]}}</a></li>
		{% endfor %}
		</ul>
	</li>
	<li><a href="#">书单</a>
		<ul>
		{% for item in site.books %}
			<li><a href="/books/{{item}}">{{site.[item]}}</a></li>
		{% endfor %}
		</ul>
	</li>
	<li>
		{% for item in site.subject %}
		{% if item == page.subject %}
		<li class="active"><a href="/subjects/{{item}}">{{site.[item]}}</a></li>
		{% endif %}
		{% endfor %}
	</li>
	<li><a href="http://nodewee.me/">NodeWee</a></li>
	</ul>
</nav>
</header>